{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_card') }}" method="post" class="add-entry">
      <input type="text" size="30" name="card-text">
      <label for"card-text">Insert new card text</label>
      <input type="submit" value="Add card" />
    </form>
  {% endif %}

  <p>The database currently holds these cards:</p>

{% if all_cards|length > 0 %}
<ul>
{% for card in all_cards %}
  <li><p><span style="align: right">{{ card.id }}</span><span style="align:left; margin-left: 1em">{{ card.text|safe }}</span></p></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
